{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>
    {% autoescape false %}
    <div property="article">{{ content.article }}</div>
    {% endautoescape %}

    <div id="block" property="block">
        {% for block in content.block %}
            <div class="block-item">
                <h2 property="title">{{ block.title }}</h2>
                <p property="article">{{ block.article }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
