{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <div id="content" vocab="http://schema.org/" typeof="Content">
        <h1 property="title">{{ content.title }}</h1>
        {% autoescape false %}
        <div property="article">{{ content.article }}</div>
        {% endautoescape %}

        <div property="block" typeof="collection">
            {% set i = 0 %}
            {% for block in content.block %}
                <div rel="block" typeof="block">
                    <h2 property="title">{{ block.title|default('')|nl2br }}</h2>

                    <p property="article">{{ block.article|default('')|nl2br }}</p>
                </div>
                {% set i = i+1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
