{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>
    <p property="article">{{ content.article }}</p>
    {% autoescape false %}
    <div property="texteditor">{{ content.texteditor }}</div>
    {% endautoescape %}

    <div property="smartcontent">
        {% for smartcontent in content.smartcontent.data %}
        <h2><a href="{{ smartcontent.url }}">{{ smartcontent.title }}</a></h2>
        <p>{{ smartcontent.article }}</p>
        {% endfor %}
    </div>
{% endblock %}
