{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <div id="content">
        <div class="row" vocab="http://schema.org/" typeof="Content">
            <div class="col-lg-12">
                <h1 class="page-header" property="title">{{ content.title }}</h1>

                {% autoescape false %}
                <div property="article">{{ content.article }}</div>
                {% endautoescape %}

                <h3>Images</h3>

                <div class="row {{ content.images.displayOption }}" property="images" typeof="collection">
                    {% for image in content.images.data %}
                        <div class="col-lg-4" rel="images" typeof="images">
                            <img src="{{ image.thumbnails['170x170'] }}" alt="{{ image.name }}"/>

                            <p class="text-primary">{{ image.title }}</p>
                        </div>
                    {% endfor %}
                </div>

                {% if content.categories is defined %}
                    <h3>Categories</h3>

                    <ul property="categories">
                        {% for category in content.categories %}
                            <li>{{ category.id }} - {{ category.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h3>Internal Links</h3>

                {% if content.links is defined %}
                    <ul property="links">
                        {% for link in content.links.data %}
                            <li>
                                <a href="{{ content_path(link) }}">{{ link.title|default('No Title') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
