{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <div id="content" vocab="http://schema.org/" typeof="Content">

        <div class="jumbotron">
            <h1 property="title">{{ content.title }}</h1>
            {% autoescape false %}
            <div class="lead" property="article">{{ content.article }}</div>
            {% endautoescape %}
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <td>Phone</td>
                    <td property="phone">{{ content.phone }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td property="password">{{ content.password }}</td>
                </tr>
                <tr>
                    <td>Link</td>
                    <td property="link">{{ content.link }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td property="email">{{ content.email }}</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td property="color">{{ content.color }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td property="date">{{ content.date }}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td property="time">{{ content.time }}</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-4">
                <h3>Note:</h3>

                <p property="note">{{ content.note }}</p>
            </div>
        </div>
        {% if content.links is defined %}
            <h3>Links:</h3>
            <ul property="links">
                {% for link in content.links.data %}
                    <li>
                        <a href="{{ content_path(link) }}">{{ link.title|default('No Title') }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if content.categories is defined %}
            <h3>Categories</h3>

            <ul property="categories">
                {% for category in content.categories %}
                    <li>{{ category.id }} - {{ category.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div property="smartcontent">
            {% for smartcontent in content.smartcontent.data %}
                <div class="col-lg-4">
                    <h2><a href="{{ content_path(smartcontent) }}">{{ smartcontent.title }}</a></h2>
                    {% autoescape false %}
                    {{ smartcontent.article }}
                    {% endautoescape %}
                </div>
            {% endfor %}
        </div>

        <h3>Images (display-options: {{ content.images.displayOption }})</h3>

        <div class="row" property="images" typeof="collection">
            {% for image in content.images.data %}
                <div class="col-lg-4" rel="images" typeof="images">
                    <img src="{{ image.thumbnails['170x170'] }}" alt="{{ image.name }}"/>

                    <p class="text-primary">{{ image.title }}</p>
                </div>
            {% endfor %}
        </div>

        <h3>Location:</h3>

        <div id="location" class="row" property="location">
            <dl>
                <dt>Title:</dt>
                <dd>{{ content.location.title }}</dd>

                <dt>Address:</dt>
                <dd>
                    {{ content.location.street }} {{ content.location.number }}<br/>
                    {{ content.location.code }} {{ content.location.town }}<br/>
                    {{ content.location.country }}
                </dd>

            </dl>

            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ content.location.street }},{{ content.location.number }},{{ content.location.code }} {{ content.location.town }},{{ content.location.country }}&zoom={{ content.location.zoom }}&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C{{ content.location.lat }},{{ content.location.long }}&sensor=false">
        </div>

        <div class="row" property="block" typeof="collection">
            {% set i = 0 %}
            {% for block in content.block %}
                <div class="col-lg-4" rel="block" typeof="block">
                    {% if block.type == 'editor' %}
                        <h2 property="title">{{ block.title|default('') }}</h2>

                        <b>{{ block.type }}</b>
                        {% autoescape false %}
                        <div property="article">{{ block.article|default('') }}</div>
                        {% endautoescape %}
                    {% elseif block.type == 'textarea' %}
                        <h2 property="title">{{ block.title|default('') }}</h2>
                        <b>{{ block.type }}</b>

                        <p>
                            {{ block.article|default('')|nl2br }}
                        </p>
                    {% elseif block.type == 'title_only' %}
                        <h1 property="title">{{ block.title|default('') }}</h1>
                        <b>{{ block.type }}</b>
                    {% endif %}
                </div>
                {% set i = i+1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
