{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    <div id="content" vocab="http://schema.org/" typeof="Content">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" property="title">{{ content.title }}</h1>
                {% autoescape false %}
                <div property="article">{{ content.article }}</div>
                {% endautoescape %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Smart-Content</h2>
            </div>

            <div class="col-lg-6">
                {% include "ClientWebsiteBundle:util:categories.html.twig" with {locale: request.locale, withChildren: true, root: view.smartcontent.categoryRoot, parameter: view.smartcontent.categoriesParameter} %}
            </div>
            <div class="col-lg-6">
                {% include "ClientWebsiteBundle:util:tags.html.twig" with {parameter: view.smartcontent.tagsParameter} %}
            </div>

            <ul class="pagination">
                {% set page = view.smartcontent.page %}

                {% if page-1 >= 1 %}
                    <li><a href="{{ sulu_content_path(content.url) }}?p={{ page-1 }}">&laquo;</a></li>
                {% endif %}
                {% if view.smartcontent.hasNextPage %}
                    <li><a href="{{ sulu_content_path(content.url) }}?p={{ page+1 }}">&raquo;</a></li>
                {% endif %}
            </ul>

            <div property="smartcontent">
                {% for page in content.smartcontent %}
                    <div class="col-lg-4">
                        <h2>
                            <a href="{{ sulu_content_path(page.url) }}">{{ page.title }}</a>
                        </h2>
                        <p>
                            <i>{{ page.ext_title }}</i> | <i>{{ page.ext_tags|join(', ') }}</i>
                        </p>
                        {% if page.ext_images|length > 0 %}
                            <img src="{{ page.ext_images[0].thumbnails['50x50'] }}" alt="{{ page.ext_images[0].title }}"/>
                        {% endif %}
                        {% autoescape false %}
                        {% if page.article != '' %}
                            {{ page.article }}
                        {% else %}
                            <p>No Article found</p>
                        {% endif %}
                        {% endautoescape %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
