<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>{{ content.title }}</title>
        <link>{{ sulu_content_root_path(true) }}</link>
        <description>{{ content.article }}</description>
        <language>{{ request.locale }}</language>
        {% set user = sulu_resolve_user(changer) %}
        <copyright>{% if user != null %}{{ user.contact.fullName }}{% endif %}</copyright>
        <pubDate>{{ changed|date('Y.m.d') }}</pubDate>
        {% for page in content.smartcontent %}
            <item>
                <title>{{ page.title }}</title>
                <link>{{ sulu_content_path(page.url) }}</link>
            </item>
        {% endfor %}
    </channel>
</rss>
